.container{
    font-family: Century Gothic;
}

.navbar-brand{
    padding-top: 5px;
}
#banner{
    margin: 50px 0px 0px 5px;
    padding: 0px;

}

.navbar{
    background-color: #333333;
}

.classificados{
    background-color: #E0E1E3;
}

.classificados_sobre{
    margin-top: 40px;

}

body{
    background-color: white;
    padding: 0px;
    margin: 0px;
}

footer{
    background-color: #333333;
}

.rodaimg{
    max-width: 100%;
    margin: 0px auto;
}


/* Formatação de textos Pagina Index*/
.tituloap{
    font-size: 22px;
    text-align: center;

}

.assuntoap{
    text-align: justify;
}

.principal{
    text-align: center;
    font-size: 30px;
}

#titulop{
     font-size: 55px;
     text-align: center;
     font-style: inherit;
     color: #1797D4;
 }

.titulop2{
    font-size: 30px;
    text-align: center;
    font-style: inherit;
    color: #1797D4;
}

.textoroda{
    color: white;
    text-align: center;
}

.textoroda a{
    color: #FFFFFF;
}

.ulroda{
    color: white;
}

input[submit]{
    background-color: #3c3c3c;
}

.img-responsive{
    padding-left: -20px;
}

.hroda{
    color: white;
}

.assuntosobre{
    font-size: 20px;
    text-align: justify;
}

figcaption{
    text-align: center;
}

h3{
    font-size: 20px;
}
